@import "./_var.scss";

.pagerMain {
  text-decoration: none;
  float: left;
  padding-left: 0;
  .pagerMini {
    display: inline;
    padding: 5px;
  }
  .pageLink {
      text-decoration: none;
      border: 1px solid $gray;
      padding: 5px;
  } .pageLink:visited{
      color: $gray;
  } .pageLink:hover{
    color: $black;
  } .pageLink:active{
      color: $active;
  }
}
