@import "./_var.scss";

.pagerMain {
  float: left;
  padding-left: 0;
  .pagerMini {
    display: inline-block;
    padding: 10px 5px;
  }
  .pageLink {
    text-decoration: none;
    border: 1px solid $gray;
    width: 25px;
    height: 35px;
    line-height: 35px;
    display: block;
    text-align: center;
  }
  .pageLink:visited {
    color: $gray;
  }
  .pageLink:hover {
    color: $black;
    background-color: $lightGray;
  }
  .pageLink:active {
    color: $active;
  }
  .pageLink:focus {
    background-color: $mainSecondaryColor;
  }
}
