$mainPrimaryColor: rgb(224, 255, 224);
$mainSecondaryColor: rgb(196, 255, 196);
$buttonColor: rgb(139, 255, 139);
$active: rgb(92, 201, 92);
$gray: gray;
$lightGray: rgba(211, 211, 211, 0.25);
$white: white;
$black: black;
